#wrap {
    width: 343px;
    height: 480px;
    margin: 0 auto;
    background: url('../img/bg.jpg');
    position: relative;
    overflow: hidden;
}

#Score {
    width: 28px;
    height: 39px;
    background: url(../img/0.jpg);
    position: absolute;
    left: 50%;
    top: 70px;
    margin-left: -14px;
}
#Score span{
    line-height: 39px;
    font-size: 28px;
}

#title {
    position: absolute;
    left: 50px;
    top: 150px;

}

#beginBird {
    width: 40px;
    height: 26px;
    background: url(../img/bird0.png);
    position: absolute;
    right: 10px;
    top: 20px;

}

#beginBtn {
    width: 85px;
    height: 29px;
    background: url(../img/start.jpg);
    position: absolute;
    left: 50%;
    margin-left: -42.5px;
    bottom: 150px;
}

#banner {
    width: 686px;
    height: 14px;
    background: url('../img/slider.jpg');
    position: absolute;
    bottom: 43px;
}

#bird {
    width: 40px;
    height: 30px;
    position: absolute;
    left: 30px;
    top: 100px;
    display: none;
}

.box{
    text-align: center;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -134.5px;
    transform: scale(0);
    z-index: 99;
    transition: all .5s;
}
.box #dieScore{
    position: absolute;
    color: sandybrown;
    top: 80px;
    right: 40px;
}
.box #history{
    position: absolute;
    color: sandybrown;
    top: 130px;
    right: 40px;
}
.box #message{
    width: 269px;
    height: 135px;
    margin: 0 auto;
    background: url('../img/message.jpg') no-repeat;
}
.birdAclinic {
    background: url(../img/bird0.png) no-repeat;
}

.birdUp {
    background: url(../img/up_bird0.png) no-repeat;
}

.birdDown {
    background: url(../img/down_bird0.png) no-repeat;
}

.duct {
    z-index: 2;
    width: 62px;
    height: 423px;
    position: absolute;
    left: 343px;
    top:0;
}

.upduct {
    width: 62px;
    height: 100px;
    background: url(../img/up_mod.png) repeat-y;
    top: 0;
    position: absolute;
}

.upduct img {
    position: absolute;
    bottom: 0;
}

.downduct {
    width: 62px;
    height: 100px;
    background: url(../img/down_mod.png) repeat-y;
    position: absolute;
    bottom: 0;
}